<div class="works-row">
  <div class="works-image">
    <div class="overlay"></div>
    <a href="<%= work["url"] %>" target="_blank">
      <%= image_tag(work["image"], size: "1024x819", alt: work["alt"], class: 'works-image__screenshot') %>
    </a>
  </div>
  <div class="works-content">
    <h3 class="works-content__title">
      <%= work["name"] %>
    </h3>
    <p class=" text-uppercase works-content__skills">
      <%= work["skills"] %>
    </p>
    <div class="works-content__desc">
      <p>
        <%= work["description"] %>
      </p>
    </div>
    <ul class="works-content__buttons">
      <li><a href="<%= work["url"] %>" target="_blank" class="button works-content__button">View Live</a></li>
    </ul>
  </div>
</div>